.table-Breach {
    table-layout: fixed;
}

.image-Breach {
    padding-left: 42%;
}

.breach-abilities {
    width: 150px;
    height: 150px;
}

.whole-breach {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }