.table-Brimstone {
    table-layout: fixed;
}

.image-brimstone {
    padding-left: 42%;
}

.brimstone-abilities {
    width: 150px;
    height: 150px;
}

.whole-brimstone {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }