.table-Cypher {
    table-layout: fixed;
}

.image-Cypher {
    padding-left: 42%;
}

.cypher-abilities {
    width: 150px;
    height: 150px;
}

.whole-cypher {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }