.whole8 {
    background-color: #0e1921;
    height: 90vh;
    color:white;
}
.havenmap {
    padding-left: 40%;
}
.list{
    list-style-type: none;
}

table, th, td {
    border: 1px solid white;
  }