.table-Killjoy {
    table-layout: fixed;
}

.image-Killjoy {
    padding-left: 42%;
}

.killjoy-abilities {
    width: 150px;
    height: 150px;
}

.whole-killjoy {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }