.table-Omen {
    table-layout: fixed;
}

.image-omen {
    padding-left: 42%;
}

.omen-abilities {
    width: 150px;
    height: 150px;
}

.whole-omen {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }