.table-Pheonix {
    table-layout: fixed;
}

.image-pheonix {
    padding-left: 42%;
}

.pheonix-abilities {
    width: 150px;
    height: 150px;
}

.whole-pheonix {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }