.table-Reyna {
    table-layout: fixed;
}

.image-reyna {
    padding-left: 42%;
}

.reyna-abilities {
    width: 150px;
    height: 150px;
}

.whole-reyna {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }