.table-Sage {
    table-layout: fixed;
}

.image-sage {
    padding-left: 42%;
}

.sage-abilities {
    width: 150px;
    height: 150px;
}

.whole-sage {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }