.table-Skye {
    table-layout: fixed;
}

.image-skye {
    padding-left: 42%;
}

.skye-abilities {
    width: 150px;
    height: 150px;
}

.whole-skye {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }