.table-Sova {
    table-layout: fixed;
}

.image-sova {
    padding-left: 42%;
}

.sova-abilities {
    width: 150px;
    height: 150px;
}

.whole-sova {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid white;
  }