.table-Viper {
    table-layout: fixed;
}

.image-viper {
    padding-left: 42%;
}

.viper-abilities {
    width: 150px;
    height: 150px;
}

.whole-viper {
    background-color: #0e1921;
    height: 100vh;
    color:white;
}

table, th, td {
    border: 1px solid red;
  }